<h3><%= @user.name %>'s comments(<%= @comments.count %>)</h3>
<% @comments.each do |comment| %>
  PostID:<%= comment.post.id %>
  PostTitle:<%= comment.post.title %>
  UserID:<%= comment.user.id %>
  <%= comment.post.user.name %>
  CommentID:<%= comment.id %>
  <%= comment.comment %>
  <%= link_to '削除', admin_user_comment_path(comment.user, comment), method: :delete, data: {confirm: "本当に削除しますか？"} %>
  <br />
<% end %>