  <div id='map'></div>
  <style>
    #map {
      height: 200px;
      width: 100%;
    }
  </style>
  <script>
    //初期マップの設定
    // 編集フォームでは登録した地図のみ表示させる
    let map
    let marker
    function initMap(){
      geocoder = new google.maps.Geocoder()
      // 投稿したマップの位置
      map = new google.maps.Map(document.getElementById('map'), {
        center:  {lat: <%= @post.lat %>, lng: <%= @post.lng %>}, //投稿した場所
        zoom: 15,
      });
      // 投稿したピンの位置
      marker = new google.maps.Marker({
        position:  {lat: <%= @post.lat %>, lng: <%= @post.lng %>}, //投稿した場所
        map: map
      });
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap" async defer></script>
