<h3>All Posts</h3>
<% posts.each do |post| %>
  <%= link_to user_path(post.user) do %>
    <%= image_tag post.user.get_image, class: 'user_image' %>
    <%= post.user.name %><br />
  <% end %>
  <%= link_to post do %>
    <%= image_tag post.get_image, class: 'index_image' %><br />
  <% end %>

  <!--いいねボタン（件数非表示）-->
  <% if post.liked_by?(current_user) %>
    <%= link_to post_likes_path(post), method: :delete do %>
      <i class="fas fa-heart fa-lg" aria-hidden="true" style="color: #dc3545;"></i><br />
      <%#= post.likes.count %>
    <% end %>
  <% else %>
    <%= link_to post_likes_path(post), method: :post do %>
      <i class="fas fa-heart fa-lg" aria-hidden="true" style="color: #c0c0c0"></i><br />
      <%#= post.likes.count %>
    <% end %>
  <% end %>

  <%= link_to post.title, post_path(post) %><br />
  <p><%= post.content %></p>
<% end %>