<% page_posts.each do |post| %>
  <div class="container border bg-white mb-3 pb-2">
    <div class="row">
      <% if post.publish == false %>
        <b class="px-3 mb-2 bg-danger text-white">非公開</b>
      <% end %>
    </div>
    <%= link_to user_path(post.user), class: "text-secondary" do %>
      <%= image_tag post.user.get_image, class: 'post_user_image' %>
      <%= post.user.name %><br />
    <% end %>
    <div class="post_image_wrapper">
      <%= link_to post, data: {"turbolinks" => false} do %>
        <%= image_tag post.get_image, class: 'mb-2 img-fluid post_image' %>
      <% end %>
    </div>
    <!--いいね・コメントの表示-->
    <div id="likes_btn_<%= post.id %>">
      <%= render 'public/likes/btn', post: post %>
    </div>
    <b><%= link_to post.title, post_path(post), class: "text-secondary" %></b>
    <p class="post-contents"><%= render_with_tags(post.content) %></p>
    <%= l post.created_at %><br />
    <!--編集/削除ボタン(本人のみ表示)-->
    <% if post.user == current_user %>
      <%= link_to '編集', edit_post_path(post), data: {"turbolinks" => false} %>
      ｜ <%= link_to '削除', post_path(post), method: :delete, data: { confirm: '本当に削除しますか？'} %><br />
    <% end %>
  </div>
<% end %>
<%= paginate page_posts %>