<div class="container">
  <div class="row mb-3 d-flex justify-content-center">
    <div class="col-lg-8">
      <div class="m-3">
        <h5 class="text-center"><i class="fas fa-cog"></i> 店舗の設備タグ管理画面</h5>
        <%= form_with model: @shop_tag, url: admin_shop_tags_path, method: :post do |f| %>
          <i class="fas fa-tag"></i> <%= f.label :name, "設備タグ名(最大15文字)" %><br />
          <%= f.text_field :name, class: "search-form-group", maxlength: 15 %>
          <%= f.submit "追加する", class: "btn btn-outline-secondary" %>
        <% end %>
      </div>
      <table class="table table-border">
        <%= render "tags", shop_tags: @shop_tags %>
      <%= paginate @shop_tags %>
    </div>
  </div>
</div>
