<%= form_with model: [post, comment], local: false do |f| %>
  <div id="comments-error">
    <%= render 'layouts/error_messages', model: f.object %>
  </div>
  <%= f.label :comment %><br />
  <%= f.text_area :comment, autofocus: true, placeholder: 'コメントを追加する' %>
  <%= f.submit %>
<% end %>