<% if @post_comments.present? %>
  <div class="px-5 py-2 customize-border shadow bg-white">
    <% post_comments.each do |post_comment| %>
      <div class="row px-3">
        <%= link_to user_path(post_comment.user_id), class: "text-secondary" do %>
          <%= image_tag post_comment.user.get_image, class: 'post_user_image' %>
          <%= post_comment.user.name %>
        <% end %>
      </div>
      <div class="row px-3">
        <p><%= post_comment.comment %></p>
      </div>
      <div class="row px-3">
        <%= l post_comment.created_at %>
        <div class="col">
          <% if post_comment.user == current_user %>
            <%= link_to '削除', post_comment_path(post_comment.post, post_comment), method: :delete, data: {confirm: "本当に削除しますか？"}, remote: true %>
          <% end %>
        </div>
      </div>
      <hr></hr>
    <% end %>
  </div>
<% else %>
  <p class="mt-5 text-center">現在、コメントはありません。</p>
<% end %>
