<% post.comments.where(user_id: @publish_user_all).each do |post_comment| %>
  <div class="row mt-3 px-3">
    <%= link_to user_path(post_comment.user_id) do %>
      <%= image_tag post_comment.user.get_image, class: 'post_user_image' %>
      <%= post_comment.user.name %>
    <% end %>
  </div>
  <div class="row px-3">
    <%= post_comment.comment %>
  </div>
  <div class="row px-3">
    <%= l post_comment.created_at %>
    <% if post_comment.user == current_user %>
      <%= link_to '削除', post_comment_path(post_comment.post, post_comment), method: :delete, data: {confirm: "本当に削除しますか？"}, remote: true %>
    <% end %>
  </div>
<% end %>