<div class="container">
  <div class="row">
    <div class="col-4 my-3">
      <h2 class="mb-4">Post detail</h2>
      <div class="container border mb-5 py-3">
        <%= image_tag @post.user.get_image, class: 'post_user_image' %>
        <%= link_to @post.user.name, user_path(@post.user) %>
        <%= image_tag @post.get_image, class: 'img-fluid post_image' %>
        <h5><%= link_to @post.title, post_path(@post) %></h5>
        <p><%= render_with_tags(@post.content) %></p>
        Created　<%= l @post.created_at %><br />
        Updated　<%= l @post.updated_at %>
      </div>
    </div>
    <div class="col-5 offset-1 mt-3 mb-5">
      <h2 class="mb-4">To comment</h2>
      <%= render 'public/comments/form', post: @post, comment: @comment %>
      <div id="comments_area">
        <%= render 'public/comments/post_comments', post: @post %>
      </div>
    </div>
  </div>
</div>