<div class="container">
  <div class="row mb-3 d-flex justify-content-center">
    <div class="col-lg-8">
      <div class="m-3">
        <h5 class="text-center"><i class="far fa-newspaper"></i> おしらせ作成</h5>
        <%= form_with model: @news, url: admin_news_index_path do |f| %>
          <%= f.label :title, "タイトル" %><br />
          <div class="small">例) アップデートのお知らせ、メンテナンスのお知らせ、エラー修正のお知らせ　など</div>
          <%= f.text_field :title, required: true, class: "form-control" %><br />
          <%= f.label :content, "内容" %><br />
          <%= f.text_area :content, class: "form-control" %><br />
          <div class="d-flex justify-content-end">
            <%= f.submit class: "btn btn-outline-secondary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row my-5 d-flex justify-content-center">
    <div class="col-lg-8">
      <h5 class="text-center">おしらせ一覧</h5>
      <%= render "index", newses: @newses %>
      <%= paginate @newses %>
    </div>
  </div>
