<div class="row justify-content-center mt-2 mr-3">
  <%= form_with url: user_search_path, method: :get, local: true do |f| %>
    <div class="col text-center text-secondary small">
      <div class="col-12">
        <%= f.radio_button :method, "introduction", checked: true, class: "radio-btn" %>
        <%= f.label :method, "紹介文", :value => "introduction" %>
        <%= f.radio_button :method, "name", class: "ml-3 radio-btn" %>
        <%= f.label :method, "名前", :value => "name" %>
      </div>
      <div class="col-12">
        <%= f.search_field :content, placeholder: '(例)　カフェ', class: "search-form-group search-form-text ml-2", size: "22%" %>
        <button type="submit", class="search-btn btn btn-outline-secondary">
          <i class="fas fa-search fa-xs"></i>
        </button>
        <div class-"small">気になるキーワードでユーザを検索してみよう！</div>
      </div>
    </div>
  <% end %>
</div>