<div class="container">
  <div class="row">
    <div class="col-lg-4 my-3">
      <h2 class="mb-4">Post detail <span><i class="far fa-image"></i></span></h2>
      <div class="container border bg-white mb-5 py-3">
        <%= image_tag @post.user.get_image, class: 'post_user_image' %>
        <p><%= @post.user.name %></p>
        <div class="post_image_wrapper">
          <%= image_tag @post.get_image, class: 'img-fluid post_image' %>
        </div>
        <h5><%= @post.title %></h5>
        <p><%= @post.content %></p>
        Created　<%= l @post.created_at %><br />
        Updated　<%= l @post.updated_at %>
      </div>

    </div>
    <div class="col-lg-7 offset-lg-1 mt-3 mb-5">
      <h2 class="mb-4">To comment <span><i class="far fa-comment-alt fa-xs"></i></span></h2>
      <div class="px-5 py-2 border bg-white">
        <div id="comments_area">
          <% if @comments.present? %>
            <% @comments.each do |comment| %>
              <%= image_tag comment.user.get_image, class: 'post_user_image' %>
              <p><i class="fas fa-user-circle "></i> <%= comment.post.user.name %></p>
              <p><%= comment.comment %></p>
              <div><%= l comment.created_at %>｜<%= link_to '削除', admin_user_comment_path(@post.user, comment), method: :delete, data: {confirm: "本当に削除しますか？"} %></div>
              <hr></hr>
            <% end %>
          <% else %>
              <p>現在、コメントはありません。</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>