<div class="container">
  <div class="row">
    <div class="col-lg-4 my-3">
      <h4 class="mb-4 text-center"><span><i class="far fa-image"></i></span> 投稿詳細</h4>
      <div class="container customize-border shadow bg-white mb-5 py-3">
        <%= image_tag @post.user.get_image, class: 'post_user_image' %>
        <p><%= @post.user.name %></p>
        <div class="post_image_wrapper">
          <%= image_tag @post.get_image, class: 'img-fluid post_image' %>
        </div>
        <h5><%= @post.title %></h5>
        <p><%= @post.content %></p>
        作成日時：<%= l @post.created_at %><br />
        更新日時：<%= l @post.updated_at %>
      </div>
    </div>
    <div class="col-lg-7 offset-lg-1 mt-3 mb-5">
      <h4 class="mb-4 text-center"><i class="far fa-comment-alt"></i> コメント</h4>
      <div id="users_comments_area">
        <%= render 'admin/comments/comments', comments: @comments, page_comments: @page_comments %>
      </div>
      <div class="row d-flex justify-content-center">
        <div>
          <%= render 'admin/users/all-users.btn' %>
        </div>
      </div>
    </div>
  </div>
</div>