<div class="container">
  <div class="row">
    <div class="col-md-4 d-none d-md-block">
      <%= render 'public/users/info', user: @user, liked_post: @liked_post, posts: @posts %>
    </div>
    <div class="col-md-6 offset-md-1">
      <% if @user == current_user %>
        <h4 class="mb-4 text-center"><span><i class="fas fa-heart fa-xs"></i></span> お気に入り (<%= @liked_post.count %>件) </h4>
      <% else %>
        <h4 class="mb-4 text-center"><span><i class="fas fa-heart"></i></span> <%= @user.name %>さんのお気に入り (<%= @liked_post.count %>件)</h4>
      <% end %>
      <% if @page_liked_post.present? %>
        <% @page_liked_post.each do |post| %>
          <div class="container border bg-white mb-3 py-2 ">
            <%= link_to user_path(post.post.user) do %>
              <%= image_tag post.post.user.get_image, class: 'post_user_image' %>
              <%= post.post.user.name %><br />
            <% end %>
            <div class="post_image_wrapper">
              <%= link_to post_path(post.post) do %>
                <%= image_tag post.post.get_image, class: 'img-fluid post_image' %><br />
              <% end %>
            </div>
            <div id="likes_btn_<%= post.post.id %>">
              <!--いいねボタン-->
              <% if post.post.liked_by?(current_user) %>
                <%= link_to post_likes_path(post.post), method: :delete, remote: true do %>
                  <i class="fas fa-heart fa-lg" aria-hidden="true" style="color: #dc3545;"></i>
                  <%= post.post.likes.where(user_id: @publish_user_all).count %>
                <% end %>
              <% else %>
                <%= link_to post_likes_path(post.post), method: :post, remote: true do %>
                  <i class="fas fa-heart fa-lg" aria-hidden="true" style="color: #c0c0c0"></i>
                  <%= post.post.likes.where(user_id: @publish_user_all).count %>
                <% end %>
              <% end %>

              <!--コメントボタン-->
              <%= link_to new_post_comment_path(post.post) do %>
                　<i class="far fa-comment-alt fa-lg"></i>
                <%= post.post.comments.where(user_id: @publish_user_all).count %><br />
              <% end %>
            </div>
            <% if post.post.user == current_user %>
              <%= link_to '編集', edit_post_path(post.post) %>
              ｜ <%= link_to '削除', post_path(post.post), method: :delete, data: { confirm: '本当に削除しますか？'} %><br />
            <% end %>
            <%= link_to post.post.title, post_path(post.post) %><br />
            <p><%= render_with_tags(post.post.content) %></p>
            <%= l post.post.created_at %><br />
          </div>
        <% end %>
        <%= paginate @page_liked_post %>
      <% else %>
        <p class="text-center">現在、お気に入りはありません。</p>
      <% end %>
      <%= render 'public/users/mypage.btn', user: @user %>
    </div>
  </div>
</div>

