<div class="container">
  <div class="row">
    <div class="col-md-4 d-none d-md-block">
      <%= render 'public/users/info', user: @user, liked_post: @liked_post, posts: @posts %>
    </div>
    <div class="col-md-6 offset-md-1">
      <% if @user == current_user %>
        <h4 class="mb-4 text-center"><span><i class="fas fa-heart fa-xs"></i></span> お気に入り (<%= @liked_post.count %>件) </h4>
      <% else %>
        <h4 class="mb-4 text-center"><span><i class="fas fa-heart"></i></span> <%= @user.name %>さんのお気に入り (<%= @liked_post.count %>件)</h4>
      <% end %>
      <% if @page_liked_post.present? %>
        <%= render "public/posts/index", page_posts: @page_liked_post %>
      <% else %>
        <p class="text-center">現在、お気に入りはありません。</p>
      <% end %>
      <%= render 'public/users/mypage.btn', user: @user %>
    </div>
  </div>
</div>
