<h3>User edit</h3>
<%= form_with model: @user, url: admin_user_path(@user), method: :PATCH do |f| %>
  <%= label :status , 'status' %><br />
  <%= f.radio_button :status, "false" %>
  <%= f.label :status, "有効", value: false %>
  <%= f.radio_button :status, "true" %>
  <%= f.label :status, "退会", value: true %>
  <%= f.submit class: "btn btn-outline-success" %>
<% end %>
<%= link_to "< All Users へ戻る", admin_users_path, class: "btn btn-outline-dark" %>