<h3>User edit</h3>
<%= form_with model: @user do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.radio_button :status, "false" %>
  <%= f.label :status, "有効", value: false %>
  <%= f.radio_button :status, "true" %>
  <%= f.label :status, "退会", value: true %>
  <%= f.submit %>
<% end %>