<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-6">
      <h2 class="mb-4"><span><i class="fas fa-users-cog fas-xs"></i></span> All Users (<%= User.all.count %>人)
      <span class="h4">(有効<%= @publish_user_all.count %>人/退会<%= User.unpublish.count %>人)</span></h2>
      <% if @users.present? %>
        <% @users.each do |user| %>
          <div class="text-secondary">User id：<%= user.id %></div>
          <div class="container bg-white border bg-white pb-2 mb-3">
            <div class="row">
              <% if user.status == false %>
                <b class="px-3 mb-2 bg-success text-white">有効</b>
              <% else %>
                <b class="px-3 mb-2 bg-danger text-white">退会</b>
              <% end %>
            </div>
            <div class="row d-flex justify-content-between border-bottom">
              <div class="col py-3">
                <%= link_to admin_user_path(user) do %>
                  <%= image_tag user.get_image, class: "mr-3 mb-3 user_image" %>
                  <%= user.name %><br />
                <% end %>
                <p><%= user.introduction %></p>
              </div>
            </div>
            <div class="row pt-3 pb-2">
              <div class="col-xl-2 mt-1">
                <%= link_to '編集', edit_admin_user_path(user), class: "btn btn-block btn-outline-success" %>
              </div>
              <div class="col-xl-2 mt-1">
                <%= link_to '詳細', admin_user_path(user), class: "btn btn-block btn-outline-dark" %>
              </div>
              <div class="col-xl-4 mt-1">
                <%= link_to admin_user_posts_path(user), class: "btn btn-block btn-outline-dark" do %>
                  投稿一覧(<%= user.posts.count %>)
                <% end %>
              </div>
              <div class="col-xl-4 mt-1">
                <%= link_to admin_user_comments_path(user), class: "btn btn-block btn-outline-dark" do %>
                  コメント一覧(<%= user.comments.count %>)
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
        <%= paginate @users %>
      <% else %>
        現在、登録ユーザーはいません。
      <% end %>
    </div>
  </div>
</div>