<div class="container">
  <div class="row m-2 mb-3 d-flex flex-column">
    <h4 class="text-center"><i class="fas fa-envelope"></i> お問い合わせ</h4>
    <p class="mt-1 text-center small">ご利用中に感じたことや、要望などお気軽にご連絡ください。</p>
    <div class="row d-flex justify-content-center">
      <div class="col-lg-7 form-group">
        <hr></hr>
        <ul>
          <% @inquiry.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
        <%= form_with model: @inquiry, url: user_inquiry_confirm_path(user_id: current_user) do |f| %>
          <%= f.label :name, value="お名前" %><span class="text-danger"> *</span><br />
          <%= f.text_field :name, required: true, maxlength: 20, class: "form-control" %><br />

          <%= f.label :email, value="メールアドレス" %><span class="text-danger"> *</span><br />
          <div class="mb-2 small text-danger">※ご入力いただいたメールアドレス宛にお問い合わせ完了メールを送信します。<br />　お間違いのないようご入力ください。</div>
          <%= f.email_field :email, required: true, class: "form-control" %><br />

          <%= f.label :message, value="お問い合わせ内容" %><span class="text-danger"> *</span><br />
          <%= f.text_area :message, required: true, maxlength: 1000, rows: 5, class: "form-control" %><br />

          <%= f.submit '確認', class: 'btn btn-block btn-outline-primary', data: {"turbolinks" => false} %><br />
        <% end %>
      </div>
    </div>
  </div>
</div>
