<%= form_with model: @user do |f| %>
  <i class="far fa-image"></i> <%= f.label :image %><br />
  <div class="col">
    <%= f.file_field :image, class: "custom-file-input", id: "inputFile" %>
    <%= f.label :image, 'ファイルを選択', class: "custom-file-label", for: "inputFile" %>
  </div>

  <i class="fas fa-user-circle"></i> <%= f.label :name, 'ニックネーム(最大20文字)', class: "mt-4" %> <span class="name"></span>
  <%= f.text_field :name, class: "name-input form-control", placeholder: "ニックネームを入力(必須)", maxlength: "20" %>
  <i class="far fa-file-alt"></i> <%= f.label :introduction, '自己紹介(最大150文字)', class: "mt-4" %> <span class="introduction"></span>
  <%= f.text_area :introduction, class: "form-control", placeholder: "自己紹介を入力", maxlength: "150", rows: "4" %>
  <%= f.submit  class: "mt-4 form-control btn btn-outline-success" %>
<% end %>

<!--名前と紹介文の入力文字数表示用-->
<script>
  document.addEventListener('input',e=>{
    let t=e.target.closest('.name-input');
    if(t){
      t.closest('.form-group').querySelector('.name').textContent=t.value.length;
    }
  });

  document.addEventListener('input',e=>{
    let t=e.target.closest('textarea');
    if(t){
      t.closest('.form-group').querySelector('.introduction').textContent=t.value.length;
    }
  });
</script>