<!--タイトル-->
<% if user == current_user %>
  <h2 class="mb-4">Profile
  <!--編集ボタン(ゲストユーザー省く)-->
    <% if user.name == 'guest user' %>
    <% elsif user == current_user || admin_signed_in? %>
      <%= link_to edit_user_path(user), class: "btn btn-outline-dark" do %>
         <span><i class="fas fa-user-edit fa-xs d-flex"></i></span>
      <% end %>
    <% end %>
  </h2>
<% else %>
  <h2 class="mb-4">User detaile</h2>
<% end %>
  <%#= link_to user_path(user) do %>
    <%= image_tag user.get_image, class: 'user_image' %>
    <div class="user-info-text"><i class="fas fa-user-circle"></i> <%= user.name %></div>
  <%# end %>


<!--自己紹介文-->
<p>Welcome to my page. Get to know me!</p>

<p><%= user.introduction %></p>
投稿数：<%= posts.count %><br />
<p><%= user.created_at.strftime('%Y年%m月') %>よりSnuggleを利用しています。</p>
<%= link_to user_posts_path(user), class: "btn btn-outline-secondary btn-block" do %>
  <% if user == current_user %>
    <div class="link-btn"><span><i class="far fa-images fa-xs"></i></span> My post list (<%= posts.count %>)</div>
  <% else %>
    <div class="link-btn"><span><i class="far fa-images fa-xs"></i></span> <%= user.name %>'s post list (<%= posts.count %>)</div>
  <% end %>
<% end %>

<%= link_to user_like_list_path(user), class: "btn btn-outline-secondary btn-block" do %>
  <% if user == current_user %>
    <div class="link-btn"><span><i class="fas fa-heart"></i></span> My like list (<%= liked_post.count %>)</div>
  <% else %>
    <div class="link-btn"><span><i class="fas fa-heart"></i></span> <%= user.name %>'s like list (<%= liked_post.count %>)</div>
  <% end %>
<% end %>

<% if user == current_user %>
    <%= link_to  user_private_post_path(current_user), class: "btn btn-outline-secondary btn-block"  do %>
      <div class="link-btn"><span><i class="fas fa-lock"></i></span> My private post (<%= current_user.posts.unpublish.count %>)</div>
    <% end %>
<% end %>