<% if user == current_user %>
  <h2>Profile</h2>
<% else %>
  <h2>User detaile</h2>
<% end %>
<%= image_tag user.get_image, class: 'user_image' %>
<%= user.name %>
<!--本人のみ編集ボタン表示-->
<% if user.name == 'guest user' %>
<% elsif user == current_user || admin_signed_in? %>
  <%= link_to '編集', edit_user_path(user) %>
<% end %>
<!--自己紹介文-->
<p>Welcome to my page. Get to know me!</p>
投稿数：<%= posts.count %><br />
<p><%= user.created_at.strftime('%Y年%m月') %>よりSnuggleを利用しています。</p>
  <ul>
    <li>
      <%= link_to user_like_list_path(user) do %>
        Like list(<%= liked_post.count %>)
      <% end %>
    </li>
    <% if user == current_user %>
      <li>
        <%= link_to  user_private_post_path(current_user) do %>
          My private post(<%= current_user.posts.unpublish.count %>)
        <% end %>
      </li>
    <% end %>
  </ul>
<p><%= user.introduction %></p>