<% if user == current_user %>
  <h4 class="mb-4 text-center"><i class="far fa-images"></i> My投稿一覧 (<%= posts.count %>件)</h4>
<% else %>
  <h4 class="mb-4 text-center"><i class="far fa-images"></i> <%= user.name %> さんの投稿一覧 (<%= posts.count %>件)</h4>
<% end %>
<% if page_posts.present? %>
  <%= render 'public/posts/index', page_posts: page_posts %>
<% else %>
  <p class="text-center">現在、投稿はありません。</p>
<% end %>
<%= render 'public/users/mypage.btn', user: user %>