<h2>User edit</h2>
<%= form_with model: @user do |f| %>
  <%= f.label :image %>
  <%= f.file_field :image %><br />
  <%= f.label :name %>
  <%= f.text_field :name %><br />
  <%= f.label :introduction %>
  <%= f.text_area :introduction %><br />
  <%= f.submit %>
<% end %>
<%= link_to '退会する', user_unsubscribe_path %>
<%= link_to 'Return to My Page', user_path(@user) %>