<h2>User detail</h2>
<h5><%= @user.name %></h5>

<!--自己紹介文の表示-->
<p>I want you to know me.</p>
<%= @user.introduction %><br />
投稿数：<%= @posts.count %><br />
<%= @user.created_at.strftime('%Y年%m月') %>よりSnuggleを利用しています。<br />

<h3><%= @user.name %>さんの投稿一覧</h3>
<% @posts.each do |post| %>
  <%= link_to post do %>
    <%= image_tag post.get_image, class: 'index_image' %><br />
    <%= post.title %><br />
  <% end %>
  <%= post.content %><br />
<% end %>
