<h2>User detail</h2>
<!--アイコン,名前の表示-->
<%= image_tag @user.get_image, class: 'user_image' %>
<%= @user.name %>
<!--本人のみ編集ボタン表示-->
<% if @user == current_user %>
  <%= link_to '編集', edit_user_path(@user) %>
<% end %>

<!--自己紹介文の表示-->
<p>Welcome to my page. I want you to know me!</p>
投稿数：<%= @posts.count %><br />
<%= @user.created_at.strftime('%Y年%m月') %>よりSnuggleを利用しています。

<p><%= @user.introduction %></p>
<h3><%= @user.name %>'s post list</h3>

<!--ユーザの投稿記事一覧-->
<% @posts.each do |post| %>
    <%= image_tag post.get_image, class: 'index_image' %><br />
    <!--いいねボタン（件数非表示）-->
    <% if post.liked_by?(current_user) %>
      <%= link_to post_likes_path(post), method: :delete do %>
        <i class="fas fa-heart fa-lg" aria-hidden="true" style="color: #dc3545;"></i>
        <%#= @post.likes.count %>
      <% end %>
    <% else %>
      <%= link_to post_likes_path(post), method: :post do %>
        <i class="fas fa-heart fa-lg" aria-hidden="true" style="color: #c0c0c0"></i>
        <%#= @post.likes.count %>
      <% end %>
    <% end %>
    <i class="far fa-comment-alt fa-lg"></i><br />
  <%= link_to post do %>
    <%= post.title %><br />
  <% end %>
  <p><%= post.content %></p>
<% end %>
