<h2>User detail</h2>
<!--アイコン,名前-->
<%= image_tag @user.get_image, class: 'user_image' %>
<%= @user.name %>
<!--本人のみ編集ボタン表示-->
<% if @user.name == 'guest user' %>
<% elsif @user == current_user || admin_signed_in? %>
  <%= link_to '編集', edit_user_path(@user) %>
<% end %>
<!--自己紹介文-->
<p>Welcome to my page. Get to know me!</p>
投稿数：<%= @posts.count %><br />
<p><%= @user.created_at.strftime('%Y年%m月') %>よりSnuggleを利用しています。</p>
<% if @user == current_user %>
  <ul>
    <li>
      <%= link_to like_list_path do %>
        My like list(<%= @liked_post.count %>)
      <% end %>
    </li>
    <li>
      <%= link_to  user_private_post_path(current_user) do %>
        My private post(<%= current_user.posts.unpublish.count %>)
      <% end %>
    </li>
  </ul>
<% end %>
<p><%= @user.introduction %></p>
<h3><%= @user.name %>'s post list</h3>
<!--ユーザの投稿一覧-->
<% if @posts.present? %>
  <%= render 'public/posts/index', posts: @posts %>
<% else %>
  <p>現在、投稿はありません。</p>
<% end %>