<header>
  <!--ユーザーログイン時-->
  <% if user_signed_in? %>
    <li></li>
    <li>
      <%= link_to 'Logo', root_path %>
    </li>
    <li>
      <%= link_to 'My page', user_path(current_user) %>
    </li>
    <li>
      <%= link_to 'New post', new_post_path %>
    </li>
    <li>
      <%= link_to users_path do %>
        Users(<%= User.where(status: 'false').count %>)
      <% end %>
    </li>
    <li>
      <%= link_to posts_path do %>
        Posts(<%= Post.all.count %>)
      <% end %>
    </li>
    <li>
      <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
    </li>
  <!--アドミンログイン時-->
  <% elsif admin_signed_in? %>
    <li></li>
    <li><%= link_to 'Users', admin_users_path %></li>
    <li>
      <%= link_to "Lot out", destroy_admin_session_path, method: :delete %>
    </li>
  <!--未ログイン時-->
  <% else %>
    <li></li>
    <li>
      <%= link_to "Sign up", new_user_registration_path %>
    </li>
    <li>
      <%= link_to "Log in", new_user_session_path %>
    </li>
    <li>
      <%= link_to "Admin Log in", admin_session_path %>
    </li>
  <% end %>
</header>