<header class="sticky-top">
  <nav class="navbar navbar-expand-xl navbar-light" style="background-color: #fff;">
    <% if user_signed_in? %>
      <a class="navbar-brand ml-5" href="/about"><%= show_svg('logo.svg') %></a>
    <% elsif admin_signed_in? %>
      <a class="navbar-brand" href="/admin/users"><%= show_svg('logo.svg') %></a>
    <% else %>
      <a class="navbar-brand" href="/"><%= show_svg('logo.svg') %></a>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto text-center align-items-center">
        <!--ユーザーログイン時-->
        <% if user_signed_in? %>
          <li class="text-secondary px-2 py-1 m-1">
            <%= link_to user_path(current_user), class: 'nav-link' do %>
              <i class="fas fa-home"></i>マイページ
            <% end %>
          </li>
          <li class="text-secondary px-2 py-1 m-1">
            <div class="dropdown nav-link nav-text">
              <div id="btnOpenMenu" data-toggle="dropdown">
                <i class="fas fa-bookmark"></i> 見る
              </div>
              <div class="py-0 dropdown-menu" aria-labelledby="btnOpenMenu">
                <%= link_to posts_path, class: "text-secondary dropdown-item border-bottom text-center" do %>
                  <i class="fas fa-coffee"></i>  みんなの投稿カフェ
                <% end %>
                <%= link_to users_path, class: "text-secondary dropdown-item border-bottom text-center" do %>
                  <i class="fas fa-user-friends"></i> ユーザ一覧
                <% end %>
                <%= link_to free_posts_path, class: "text-secondary dropdown-item text-center" do %>
                  <i class="fas fa-child"></i> 雑談ルーム <i class="fas fa-child"></i>
                <% end %>
              </div>
            </div>
          </li>
          <li class="text-secondary px-2 py-1 m-1">
            <div class="dropdown nav-link nav-text">
              <div id="btnOpenMenu" data-toggle="dropdown">
                <i class="fas fa-pen-nib"></i> 投稿する
              </div>
              <div class="py-0 dropdown-menu" aria-labelledby="btnOpenMenu">
                <%= link_to new_post_path, class: "text-secondary dropdown-item border-bottom text-center", data: {"turbolinks" => false} do %>
                  <i class="fas fa-coffee"></i> カフェを投稿
                <% end %>
                <%= link_to new_free_post_path, class: "text-secondary dropdown-item border-bottom text-center" do %>
                  <i class="fas fa-comments"></i> 雑談を投稿
                <% end %>
                <%= link_to new_user_own_post_path(current_user), class: "text-secondary dropdown-item text-center" do %>
                  <i class="fas fa-comment-dots"></i> ひとりごとを投稿
                <% end %>
              </div>
            </div>
          </li>
          <li class="text-secondary pl-2 py-1 m-1">
            <%= link_to user_inquiry_path(user_id: current_user), class: 'mr-2 nav-link' do %>
              <i class="fas fa-envelope"></i> お問い合わせ
            <% end %>
          </li>
          <li class="text-secondary px-2 py-1 m-1">
            <%= link_to destroy_user_session_path, method: :delete, class: 'mr-2 nav-link' do %>
              <i class="fas fa-sign-out-alt"></i> ログアウト
            <% end %>
          </li>
          <li class="d-flex justify-content-end">
            <%= render 'public/searches/form' %>
          </li>
        <!--アドミンログイン時-->
        <% elsif admin_signed_in? %>
          <li class="text-secondary px-2 py-1 m-1">
            <%= link_to admin_users_path, class: 'nav-link' do %>
              <i class="fas fa-users-cog fas-xs"></i> ユーザ一覧
            <% end %>
          </li>
          <li class="text-secondary px-2 py-1 m-1">
            <%= link_to admin_news_index_path, class: 'nav-link' do %>
              <i class="fas fa-users-cog fas-xs"></i> お知らせ作成
            <% end %>
          </li>
          <li class="text-secondary px-2 py-1 m-1">
            <%= link_to new_admin_shop_tag_path, class: 'nav-link' do %>
              <i class="fas fa-tags"></i> 設備タグ管理
            <% end %>
          </li>
          <li class="text-secondary px-2 py-1 m-1">
            <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link' do %>
              <i class="fas fa-sign-out-alt"></i> ログアウト
            <% end %>
          </li>
        <!--未ログイン時-->
        <% else %>
          <li class="text-secondary px-2 py-1 m-1">
            <%= link_to about_path, class: 'nav-link' do %>
              <i class="fas fa-coffee"></i> サイト紹介
            <% end %>
          </li>
          <li class="text-secondary px-2 py-1 m-1">
            <%= link_to new_user_registration_path, class: 'nav-link' do %>
              <i class="fas fa-user-plus"></i> 新規登録
            <% end %>
          </li>
          <li class="text-secondary px-2 py-1 m-1">
            <%= link_to new_user_session_path, class: 'nav-link' do %>
              <i class="fas fa-sign-in-alt"></i> ログイン
            <% end %>
          </li>
          <li class="text-secondary px-2 py-1 m-1">
            <%= link_to users_guest_sign_in_path, method: :post, class: 'nav-link' do %>
              <i class="fas fa-user-check"></i> ゲストログイン
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
