<header class="sticky-top">
  <nav class="navbar navbar-expand-xl navbar-light" style="background-color: #fff;">
    <% if user_signed_in? %>
      <a class="navbar-brand ml-5" href="/about"><%= image_tag('snuggle-logo.svg') %></a>
    <% elsif admin_signed_in? %>
      <a class="navbar-brand" href="/admin/users"><%= image_tag('snuggle-logo.svg') %></a>
    <% else %>
      <a class="navbar-brand" href="/"><%= image_tag('snuggle-logo.svg') %></a>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto text-center">
        <!--ユーザーログイン時-->
        <% if user_signed_in? %>
          <li class="border bg-white rounded text-secondary px-3 py-2 m-1">
            <%= link_to user_path(current_user), class: 'nav-link' do %>
              <i class="fas fa-home"></i>マイページ
            <% end %>
          </li>
          <li class="border bg-white rounded text-secondary px-3 py-2 m-1">
            <%= link_to  new_post_path, class: 'nav-link' do %>
              <i class="fas fa-edit"></i> 新規投稿
            <% end %>
          </li>
          <li class="border bg-white rounded text-secondary px-3 py-2 m-1">
            <%= link_to users_path, class: 'nav-link' do %>
              <i class="fas fa-user-friends"></i> ユーザ一覧 (<%= @publish_user_all.count %>)
            <% end %>
          </li>
          <li class="border bg-white rounded text-secondary px-3 py-2 m-1">
            <%= link_to posts_path, class: 'nav-link' do %>
              <i class="far fa-images"></i> 投稿一覧 (<%= @publish_post_all.count %>)
            <% end %>
          </li>
          <li class="border bg-white rounded text-secondary px-3 py-2 m-1">
            <%= link_to destroy_user_session_path, method: :delete, class: 'mr-2 nav-link' do %>
              <i class="fas fa-sign-out-alt"></i> ログアウト
            <% end %>
          </li>
        <!--アドミンログイン時-->
        <% elsif admin_signed_in? %>
          <li class="border bg-white rounded text-secondary px-3 py-2 m-1">
            <%= link_to admin_users_path, class: 'nav-link' do %>
              <i class="fas fa-users-cog fas-xs"></i> ユーザ一覧
            <% end %>
          </li>
          <li class="border bg-white rounded text-secondary px-3 py-2 m-1">
            <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link' do %>
              <i class="fas fa-sign-out-alt"></i> ログアウト
            <% end %>
          </li>
        <!--未ログイン時-->
        <% else %>
          <li class="border bg-white rounded text-secondary px-3 py-2 m-1">
            <%= link_to about_path, class: 'nav-link' do %>
              サイト紹介
            <% end %>
          </li>
          <li class="border bg-white rounded text-secondary px-3 py-2 m-1">
            <%= link_to new_user_registration_path, class: 'nav-link' do %>
              新規登録
            <% end %>
          </li>
          <li class="border bg-white rounded text-secondary px-3 py-2 m-1">
            <%= link_to new_user_session_path, class: 'nav-link' do %>
              ログイン
            <% end %>
          </li>
          <li class="border bg-white rounded text-secondary px-3 py-2 m-1">
            <%= link_to admin_session_path, class: 'nav-link' do %>
              管理者ログイン
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
  <% if user_signed_in? %>
    <div class="pb-2 d-flex justify-content-end bg-white"><%= render 'public/searches/form' %></div>
  <% end %>
</header>