<!DOCTYPE html>
<html>
  <head>
    <title>Snuggle</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <% if user_signed_in? && %w[new_post edit_post edit_user user_unsubscribe].any? {|name| current_page?(send("#{name}_path")) } %>
      <main>
        <%= render 'layouts/main' %>
      </main>
    <% elsif user_signed_in? && %w[new_post edit_post edit_user user_unsubscribe].any? {|name| current_page?(send("#{name}_path")) } %>
      <main class="main-height">
        <%= render 'layouts/main' %>
      </main>
    <% else %>
      <main class="main-height">
        <%= render 'layouts/main' %>
      </main>
    <% end %>
    <%= render 'layouts/footer' %>
  </body>
</html>