<!DOCTYPE html>
<html>
  <head>
    <title>Snuggle</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag() %>
  </head>
  <body class="bg-light">
    <% if  %w[root about].any? {|name| current_page?(send("#{name}_path"))} %>
      <div class="wrapper bg-white">
    <% else %>
      <div class="wrapper">
    <% end %>
    <%= render 'layouts/header' %>
      <main>
        <% if %w[root about].any? {|name| current_page?(send("#{name}_path"))} %>
          <div class="flash-messages pt-2 bg-white">
            <span id="notice" class="d-flex justify-content-center"><%= notice %></span>
            <span id="alert" class="d-flex justify-content-center"><%= alert %></span>
          </div>
        <% else %>
          <div class="flash-messages pt-2 bg-light">
            <span id="notice" class="d-flex justify-content-center"><%= notice %></span>
            <span id="alert" class="d-flex justify-content-center"><%= alert %></span>
          </div>
        <% end %>
        <%= yield %>
      </main>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>